aiosqlite==0.20.0
anyio==4.7.0
bcrypt==3.2.2
beautifulsoup4==4.12.3
cryptography==41.0.7
httpx==0.28.1
Hydrogram==0.2.0
psycopg2==2.9.10
pyrogram @ git+https://github.com/KurimuzonAkuma/pyrogram.git@d4d5a2d316719f6e98de87246cf4c573994d728d
pytz==2024.1
requests==2.31.0
rich==13.7.1
TgCrypto==1.2.5
